[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
pre-commit = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
python-dotenv = "*"
pytest = "*"

[requires]
python_version = "3.9"
